@font-face {
    font-family: dejavu-serif;
    font-weight: bold;
    src: url("/fonts/DejaVuSerif-Bold.woff2");
}

@font-face {
    font-family: dejavu-sans;
    src: url("/fonts/DejaVuSans.woff2");
}

@font-face {
    font-family: dejavu-sans;
    font-weight: bold;
    src: url("/fonts/DejaVuSans-Bold.woff2");
}

html {
    background: #000350;
    color: #ffffff;
}

h1,
h2,
h3 {
    color: #ffd700;
    font-family: dejavu-serif;
}

.white {
    color: #ffffff;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

p,
li {
    color: #ffffff;
    font-family: dejavu-sans;
    font-size: 1.2rem;
}

a {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #ffd700;
    color: #ffd700;
}

a:active,
a:hover {
    border-bottom: none;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
}
