---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>1, 1, 2, 3, 404</h1>
    <p>That page doesn't exist!</p>
    <p>
        <a href="/">Return Home</a>
    </p>
</BaseLayout>
