---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <p>
        My name is Faisal Malallah, 15 years old. I live in Kuwait and I've been
        participating in the VEX robotics competition for the last two years. I'm currently
        on team 95990A Rainbots, a semi-independent team I founded this year.
    </p>
    <h2>Work</h2>
    <p>
        <ul>
            <li>
                Main developer of <a href="https://venice.fibn.cc/">Venice</a>.
            </li>
            <li>
                Creator of <a href="https://github.com/fibonacci61/yaro">Yaro</a
                >, a toy RISC V operating system.
            </li>
            <li>Contributor to <a href="https://vexide.dev">vexide</a>.</li>
            <li>Lead designer, programmer, and notebooker for V5RC team 95990A.</li>
            <li>Lead programmer and co-designer during past VIQRC and V5RC years.</li>
        </ul>
    </p>
    <h2>Contact</h2>
    <p>
        <ul>
            <li>
                GitHub: <a href="https://github.com/fibonacci61">@fibonacci61</a
                >
            </li>
            <li>
                Mail: <a href="mailto:phi@fibn.cc">phi@fibn.cc</a>
            </li>
            <li>
                Discord: <a href="https://discord.com/users/1372261047330803822"
                    >@fibonacci161803</a
                >
            </li>
        </ul>
    </p>
</BaseLayout>
