---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <p>
        My name is Faisal Malallah, 15 years old. I live in Kuwait and I've
        participated in the VEX robotics competition for two years. Although I'm
        not currently on a team, I'm looking to form one with people who share
        my passion for robotics.
    </p>
    <h2>Work</h2>
    <p>
        <ul>
            <li>
                Main developer of <a href="https://venice.fibn.cc/">Venice</a>.
            </li>
            <li>Creator of Yaro, an upcoming toy RISC V operating system.</li>
            <li>Contributor to <a href="https://vexide.dev">vexide</a>.</li>
            <li>
                Lead programmer & co-designer for V5RC team 76764A during the
                first half of the 24-25 season.
            </li>
            <li>Lead programmer for VIQRC team 2170A for the 23-24 season.</li>
        </ul>
    </p>
    <h2>Contact</h2>
    <p>
        <ul>
            <li>
                GitHub: <a href="https://github.com/fibonacci61">@fibonacci61</a
                >
            </li>
            <li>
                Mail: <a href="mailto:fml@fibn.cc">fml@fibn.cc</a>
            </li>
            <li>Discord: @fibonacci161803</li>
        </ul>
    </p>
</BaseLayout>
