---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <p>
        My name is Faisal Malallah, 15 years old. I live in Kuwait and I've
        participated in the VEX robotics competition for two years. Although I'm
        not currently on a team, I'm looking to form one with people who share
        my passion for robotics.
    </p>
    <h2>Work</h2>
    <ul>
        <li>
            <p>
                Main developer of <a href="https://venice.fibn.cc/">Venice</a>.
            </p>
        </li>
        <li>
            <p>Creator of Yaro, an upcoming toy RISC V operating system.</p>
        </li>
        <li><p>Contributor to <a href="https://vexide.dev">vexide</a>.</p></li>
        <li>
            <p>
                Lead programmer & co-designer for V5RC team 76764A during the
                first half of the 24-25 season.
            </p>
        </li>
        <li>
            <p>Lead programmer for VIQRC team 2170A for the 23-24 season.</p>
        </li>
    </ul>
    <h2>Contact</h2>
    <ul>
        <li>
            <p>
                GitHub: <a href="https://github.com/fibonacci61">@fibonacci61</a
                >
            </p>
        </li>
        <li>
            <p>
                Mail: <a href="mailto:fml@fibn.cc">fml@fibn.cc</a>
            </p>
        </li>
        <li>
            <p>Discord: @fibonacci161803</p>
        </li>
    </ul>
</BaseLayout>
