---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <p>
        My name is Faisal Malallah. I live in Kuwait, and I spend a lot of my
        attention on robotics, systems programming, and computer engineering.
        Online, you might have previously known me as Fibonacci.
    </p>
    <p>
        I have been participating in VEX robotics for the last three years. I am
        currently on team 95990A Rainbots, an independent team I founded.
    </p>

    <h2>Elsewhere</h2>
    <p>
        The structured version of my technical work is on the
        <a href="/projects">projects</a> page. The less structured version is in
        <a href="/notes">notes</a>.
    </p>

    <h2>Contact</h2>
    <ul>
        <li>
            GitHub: <a href="https://github.com/fibonacci61">@fibonacci61</a>
        </li>
        <li>
            Mail: <a href="mailto:faisal@fibn.cc">faisal@fibn.cc</a>
        </li>
        <li>
            Discord: <a href="https://discord.com/users/1372261047330803822"
                >@fibonacci161803</a
            >
        </li>
    </ul>
</BaseLayout>
