---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
    <p>
        Hello, I'm Faisal Malallah, aka Fibonacci. I'm a high school student
        with an affinity for systems programming, computer engineering and
        robotics. Take a look at my <a href="/about">about</a> page to know more
        about me or my work, or have a peek at one of the blogs I've published on
        this site.
    </p>
</BaseLayout>
