---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects">
    <p>
        This is the compact version of my work. I keep the longer stories,
        design notes, and postmortems in <a href="/blog">notes</a>.
    </p>

    <h2>Selected Work</h2>
    <ul>
        <li>
            <a href="https://venice.fibn.cc/">Venice</a> - main developer.
        </li>
        <li>
            <a href="https://github.com/fibonacci61/yaro">Yaro</a> - a toy
            RISC-V operating system.
        </li>
        <li>
            <a href="https://vexide.dev">vexide</a> - contributor.
        </li>
        <li>
            Team 95990A Rainbots - lead designer, programmer, and notebooker.
        </li>
        <li>
            Past VIQRC and V5RC seasons - lead programmer and co-designer.
        </li>
    </ul>

    <h2>Recurring Interests</h2>
    <p>
        The technical themes I tend to return to are robotics software, embedded
        systems, operating systems, Rust, RISC-V, and tools that make machines
        easier to reason about.
    </p>
</BaseLayout>
