---
import BaseLayout from "../layouts/BaseLayout.astro";
import Gallery from "../components/Gallery.astro";
import GalleryImage from "../components/GalleryImage.astro";
import TextSpoiler from "../components/TextSpoiler.astro";
---

<BaseLayout title="Shelf">
    <p>Various artistic works I'm fond of.</p>
    <p>
        This is not meant to be a complete list of favorites. It's closer to a
        shelf: stories, images, scenes, and other things I like enough to keep
        around. If you ever wanted to chat with me on a casual basis, chances
        are I would probably enjoy discussing something on this shelf.
    </p>
    <p>
        This page contains no major spoilers that aren't gated behind a spoiler
        warning, so there shouldn't be any risk in reading about any piece of
        media you haven't finished.
    </p>

    <h2>Steel Ball Run</h2>

    <p>
        Steel Ball Run is probably the closest thing I currently have to a
        "favorite piece of media." As the seventh installment of the JoJo's
        Bizarre Adventure franchise, I consider it the pinnacle of storytelling,
        art, and character progression of the series.
    </p>
    <p>
        While the art style of the JoJo's manga has evolved continuously over
        time, this part's style is definitely my favorite. The level of detail
        and polish on every page grew exponentially after the manga switched to
        a monthly magazine, a level that I believe is unmatched even by Part 8
        and Part 9.
    </p>
    <p>
        My specific favorite style is the style that was used near the middle of
        the manga, or around the Sugar Mountain arc. It's a great balance
        between linework, proportions, expressive faces, and facial
        distinguishability.
    </p>

    <Gallery>
        <GalleryImage
            src="/assets/shelf/Ultra_Jump_May_2011.jpg"
            alt="Ultra Jump May 2011 cover"
        />
        <!-- TODO: add a anime scenes from episode 1 -->
        <GalleryImage
            src="/assets/shelf/pizza_mozzarella.png"
            alt="Pizza Mozzarella"
        />
        <GalleryImage src="/assets/shelf/sbr_toast.png" />
        <GalleryImage
            src="/assets/shelf/Johnny_Summons_ACT4.png"
            alt="Johnny summons Tusk ACT4"
            spoiler="Steel Ball Run ending spoilers"
        />
        <GalleryImage
            src="/assets/shelf/Johnny_thinking_about_Gyro.png"
            alt="Johnny remembering Gyro"
            spoiler="Steel Ball Run ending spoilers"
        />
    </Gallery>

    <h2>Chainsaw Man</h2>

    <p>
        Chainsaw Man is a two-part manga series created by Tatsuki Fujimoto. I
        really enjoyed how it handled insatiable desire, the idea that with
        every granted wish, a person only becomes increasingly greedier, until
        they lose it all.
    </p>
    <p>
        My favorite segment of the manga has to be early Part 2. The possession
        of Asa Mitaka by Yoru keeps the tension at a constant high, contrasting
        beautifully with the low-stakes slow-burn high school environment.
    </p>
    <p>
        I'm also a big fan of Fujimoto's art style. Despite being highly
        stylized, it manages to portray its characters in a way that feels
        realistic and visceral. Elsewhere, the art style of Season 1 of the
        anime creates an atmosphere that I think is perfect for the story. I'm
        looking forward to seeing Fujimoto's future works, and the upcoming
        adaptation of the International Assassins arc by MAPPA.
    </p>
    <!-- TODO: add a few manga panels or anime scenes -->

    <h2>Jujutsu Kaisen Season 3</h2>

    <p>
        I wanted to discuss the insane production value of this season of JJK.
        While I personally haven't read the manga for this part of JJK, there's
        not a doubt in my mind that this adaptation exceeds it by at least ten
        times over. My sincere compliments go to the directors and animators at
        MAPPA who worked to bring this masterpiece to us.
    </p>
    <p>Here's a list of my favorite scenes from a cinematic standpoint:</p>
    <!-- TODO: add a few scenes from this list as gifs -->
    <ul>
        <li>Yuta's menacing reintroduction</li>
        <li>
            The Zenin clan dramatically posing in silence while the ceiling
            light swings
        </li>
        <li>Yuji confronting Hakari</li>
        <li>Yaga helping Kuskabe's grieving sister</li>
        <li>"We're having a retrial."</li>
        <li>
            <TextSpoiler>
                Megumi fully expanding Chimera Shadow Garden against Reggie Star
            </TextSpoiler>
        </li>
        <li>Megumi vs. Reggie Star pool scene</li>
    </ul>
</BaseLayout>
